.hgrid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 0;
  width: 100%;
  margin-bottom: var(--spacer-md);
}

.hLeftInner {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  padding: 0 var(--px-2);
}

.BannerTitle {
  position: relative;
  line-height: 1;
  text-transform: uppercase;
  color: white;
  z-index: 3;
}

.bgCover {
  position: absolute;
  height: 50vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
  background-color: var(--sage3);
}

.btnContainer {
  position: absolute;
  padding: 0 var(--spacer);
  bottom: var(--spacer);
  width: 100%;
}

.cta_btn {
  width: 100%;
}

@media (min-width: 700px) {
  .bgCover {
    position: fixed;
    height: 100vh;
    width: 50vw;
    overflow: hidden;
    z-index: -1;
  }

  .hgrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    margin-bottom: 0;
  }

  .hLeftInner h1 {
    max-width: 8ch;
    font-size: 8vw;
    letter-spacing: var(--ls-md);
    font-weight: 500;
  }
}
