.root {
  position: relative;
  padding-top: var(--spacer-half);
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}

.prefix {
  display: inline-block;
  font-size: 4em;
  line-height: 1;
  margin-right: 0.1em;
}

.one_title {
  letter-spacing: var(--ls-md);
  font-weight: 500;
  display: inline;
  text-transform: uppercase;
}

.grid {
  --gap: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  width: 100%;
  height: 100%;
  padding: 0 var(--px-2);
  margin-top: var(--spacer-lg);
}

.grid > * {
  --min: 20ch;
  flex: 1 1 var(--min);
}

.card {
  display: none;
}

.line {
  --deg: -33.4deg;
  --length: 37rem;
  --ratio: 124.98%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100vh;
  height: var(--length);
  transform: rotate(var(--deg));
  background: var(--border-color);
  transform-origin: top left;
  z-index: 0;
}

@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin-top: var(--spacer-md);
  }
}

@media (min-width: 1024px) {
  .root {
    padding-top: 5.5vh;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
  }

  .card {
    display: block;
    position: relative;
    overflow: hidden;
    flex: 0 0 100%;
    height: 20.6rem;
    background-color: var(--sage3);
  }

  .cardInner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    border: 1px solid var(--border-color);
  }

  .cardInner_text {
    letter-spacing: var(--ls-sm);
    font-weight: 500;
    text-transform: uppercase;
  }
}

@media (min-width: 1066px) {
  .card {
    height: 21.5rem;
  }
}

@media (min-width: 1117px) {
  .card {
    height: 22.75rem;
  }
}

@media (min-width: 1280px) {
  .card {
    height: 26.6rem;
  }
}

@media (min-width: 1440px) {
  .card {
    height: 30.4rem;
  }
}
