.root {
  position: relative;
  padding-top: var(--spacer-half);
  width: 100%;
}

.gridHeader {
  font-family: var(--font2);
  padding: var(--spacer-half) calc((var(--spacer-half) / 2) + 0.4em);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
  margin-bottom: 0;
}

.grid > * {
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

@media (max-width: 767px) {
  .grid > *:nth-child(2n + 3) {
    border-bottom: 1px solid var(--border-color);
  }

  .grid > *:nth-child(2n + 4) {
    border-bottom: 1px solid var(--border-color);
  }
}

@media (max-width: 768px) {
  .s_second > *:nth-child(odd) {
    border-left: none;
  }
}

.grid > *:nth-child(-n + 1) {
  border-left: none;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1022px) {
  .grid {
    border-bottom: 1px solid var(--border-color);
  }
}

@media (min-width: 1024px) {
  .root {
    padding-top: 0vh;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid > * {
    padding: 0;
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
  }

  .grid > *:nth-child(-n + 1) {
    border-left: 1px solid transparent;
  }

  /* 

  function NotCard({ label }: any) {
  return (
    <div className={s.card}>
      <div className={s.cardInner}>
        <div className={s.line} />
        <div className="center-absolute">
          <h4 className={s.cardInner_text}>{label}</h4>
        </div>
      </div>
    </div>
  )
}

  .content {
  display: flex;
  flex-direction: column;
}

.prefix {
  display: inline-block;
  font-size: 4em;
  line-height: 1;
  margin-right: 0.1em;
}

.one_title {
  letter-spacing: var(--ls-md);
  font-weight: 500;
  display: inline;
  text-transform: uppercase;
}

    .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .card {
  display: none;
}

.line {
  --deg: -33.4deg;
  --length: 37rem;
  --ratio: 124.98%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100vh;
  height: var(--length);
  transform: rotate(var(--deg));
  background: var(--border-color);
  transform-origin: top left;
  z-index: 0;
}
  
  
  
  .card {
    display: block;
    position: relative;
    overflow: hidden;
    flex: 0 0 100%;
    height: 20.6rem;
    background-color: var(--sage3);
  }

  .cardInner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    border: 1px solid var(--border-color);
  }

  .cardInner_text {
    letter-spacing: var(--ls-sm);
    font-weight: 500;
    text-transform: uppercase;
  } */
}

/* @media (min-width: 1066px) {
  .card {
    height: 21.5rem;
  }
}

@media (min-width: 1117px) {
  .card {
    height: 22.75rem;
  }
}

@media (min-width: 1280px) {
  .card {
    height: 26.6rem;
  }
}

@media (min-width: 1440px) {
  .card {
    height: 30.4rem;
  }
} */
