.swatch {
  user-select: none;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 1em;
  margin-right: calc(0.75rem - 1px);
  overflow: hidden;
  width: 38px !important;
  height: 38px !important;
  transition: all 300ms;
  background-color: var(--bg);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  border-radius: 9999px;
}

.swatch:hover {
  transform: scale(1.05);
  border: 1px solid var(--button-bg);
}

.swatch > span {
  position: absolute;
}

.color {
  transition: all 300ms;
  color: black;
}

.color:hover {
  color: var(--text-color);
}

.color.dark,
.color.dark:hover {
  color: white !important;
}

.active {
  border: 1px solid var(--button-bg);
}

.textLabel {
  width: auto;
  padding: 0 0.25em;
  min-width: 3rem;
}

.active.textLabel {
  padding-right: calc(1rem - 1px);
  padding-left: calc(1rem - 1px);
  border: 1px solid var(--border-color);
}
