.container {
  position: relative;
  min-height: 100vh;
  margin-bottom: var(--spacer);
  overflow: visible;
  padding: var(--spacer-md) var(--px-2);
  padding-top: 4rem;
}

.button {
  font-size: var(--size-300) !important;
  width: 100%;
  background-color: var(--button-bg);
  background-color: var(--button-bg);
  color: var(--button-text);
}

.productGrid {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

.gridLeft {
  margin-bottom: var(--spacer-half);
}

.pinfo {
  margin-bottom: var(--spacer-half);
}

.btnContainer {
  margin-top: var(--spacer-half);
  margin-bottom: var(--spacer-half);
}

.gridCenterImg {
  display: none;
}

.gridLeftInner {
  display: none;
}

.productTitle {
  display: inline;
  line-height: 1.2;
}

.productDesc {
  overflow-wrap: break-word;
  margin-bottom: var(--spacer-half);
  width: 100%;
  max-width: 36rem;
  line-height: 1.7;
}

.productTitle,
.productPrice {
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: var(--ls-sm);
}

@media (min-width: 768px) {
  .container {
    padding: var(--spacer-md) var(--px-2);
    padding-top: 16vh;
    padding-bottom: 5.5vh !important;
  }

  .productGrid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .gridLeft {
    width: 65%;
    display: flex;
  }

  .gridRight {
    width: 35%;
    padding: 0 var(--px-2);
  }

  .gridLeftInner {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .gridImgContainer {
    display: block;
    position: relative;
  }

  .accordionContainer {
    margin-top: var(--spacer);
  }
}

.rgridTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: var(--spacer);
  margin-bottom: var(--spacer-half);
}

.rgridTitle h3 {
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-weight: 600;
}

.rgrid {
  --gap: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  width: 100%;
  padding: 0;
}

.rgrid > * {
  --min: 20ch;
  flex: 1 1 var(--min);
}

@media (min-width: 1440px) {
  .rgrid {
    --gap: 2em;
    gap: var(--gap);
  }

  .rgrid > * {
    --min: 15ch;
    flex: 1 1 var(--min);
  }

  .rgridTitle {
    padding: var(--spacer) 0;
    padding-bottom: var(--spacer-half);
  }

  .prefix {
    font-size: 4em;
  }
}
