.root {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  height: 100%;
}

.inner {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.backDrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(39, 39, 39, 0.8);
  transition: all 1s cubic-bezier(0.77, 0, 0.18, 1);
  backdrop-filter: blur(15px) saturate(180%);
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  max-width: 100%;
}

.inner_sidebar {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--bg);
  line-height: 1.5rem;
  -webkit-overflow-scrolling: touch !important;
}

@media (min-width: 768px) {
  .container {
    padding-left: 3rem;
    width: 500px;
  }
}
