/**
 * Chrome has a bug with transitions on load since 2012!
 *
 * To prevent a "pop" of content, you have to disable all transitions until
 * the page is done loading.
 *
 * https://lab.laukstein.com/bug/input
 * https://twitter.com/timer150/status/1345217126680899584
 */
/* body.loading * {
  transition: none !important;
} */

/* Page Loader */
/* body.loading::before,
body.loading::after {
  content: '';
  position: fixed;
  z-index: 5000;
}

body.loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg);
}

body.loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--text-color);
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: rotate3d(0.5, 0.5, 1);
  }
} */
