.betterlate {
  position: relative;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.betterlate__viewport {
  overflow: hidden;
  width: 100%;
}

.betterlate__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.betterlate__viewport.is-dragging {
  cursor: grabbing;
}

.betterlate__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.betterlate__slide {
  padding-left: 10px;
  min-width: 100%;
  position: relative;
}

.betterlate__slide__inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* inset: 50% 0 0 50% !important; */
.betterlate__slide__img {
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 600px;
}

.image_container__slide__img {
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 600px;
}

.betterlate--thumb {
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 1.8rem;
  width: 100%;
  max-width: 600px;
  transform: translate(-50%, 150%);
}

@media (min-width: 1024px) {
  .betterlate--thumb {
    transform: translate(55.8%, 28%);
  }
}

.betterlate__container--thumb {
  cursor: default;
  margin-left: -8px;
}

.betterlate__slide--thumb {
  padding-left: 8px;
  min-width: 20%;
}

@media (max-width: 767px) {
  .betterlate__slide--thumb {
    display: none;
  }
}

.betterlate__slide__inner--thumb {
  touch-action: manipulation;
  cursor: pointer;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  height: 100px;
  width: 100%;
  background-color: transparent;
  position: relative;
  display: block;
  overflow: hidden;
}

.betterlate__slide__thumbnail {
  position: absolute;
  opacity: 0.3;
  top: 0;
  bottom: 0;
  left: -10000%;
  right: -10000%;
  margin: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  transform: scale(1);
  transition: opacity 300ms;
}

.betterlate__slide--thumb.is-selected .betterlate__slide__thumbnail {
  opacity: 1;
}
