.root {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: var(--sage3);
}

.available {
  z-index: 1;
  background-color: var(--accent);
  color: var(--bg);
  width: auto;
  max-width: 50ch;
  display: inline-flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 var(--spacer-half);
}

.imageContainer {
  position: relative;
  overflow: hidden;
}

.productBottom {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0.75rem 0;
}

.name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--fs-static);
  letter-spacing: var(--ls-ps);
}

@media (min-width: 1024px) {
  .productBottom {
    padding: var(--spacer-half) 0;
  }

  .imageContainer img {
    transition: all 0.8s var(--easing);
  }

  .imageContainer:hover img {
    transform: scale(1.1);
    transform-origin: 50% 50%;
  }
}

.imageContainer > div {
  min-width: 100%;
}
