.root {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.available {
  z-index: 1;
  background-color: var(--accent);
  color: var(--bg);
  width: auto;
  max-width: 50ch;
  display: inline-flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 var(--spacer-half);
}

.imageContainer {
  width: 100%;
  max-width: 100%;
  position: relative;
  overflow: clip;
  margin-bottom: 0.55556rem;
  border-bottom: 1px solid var(--border-color);
  padding: calc(var(--spacer-half) / 2);
}

.productBottom {
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.productInfo {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: var(--fs-static);
  letter-spacing: var(--ls-ps);
  font-family: var(--font2);
  padding: calc(var(--spacer-half) / 2);
}

@media (min-width: 1024px) {
  .productBottom {
    padding-top: 0;
  }

  .imageContainer {
    margin-bottom: 0;
  }

  .productInfo {
    flex-direction: row;
    justify-content: space-between;
  }

  .imageContainer img {
    transition: all 0.8s var(--easing);
  }

  .imageContainer:hover img {
    transform: scale(1.1);
    transform-origin: 50% 50%;
  }
}

.imageContainer > div {
  min-width: 100%;
}
